body {
    font-family: Lato;
}

.banner {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 250px 0px 250px;
}

h1 {

    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708;
}

.banner-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.primary-btn {
    background: #E55473;
    padding: 20px 40px;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 20px;
}

.pri-text {
    padding: ;
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.off {
    margin-top: 100px;
}

.off-description {

    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 100px;
}

.text-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 128px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.emon {
    text-align: center;
}

.dilo {
    color: #E55473;
}

.try {
    width: 80%;
    height:auto;
    padding: 0px 240px;
    align-items: center;
    display: flex;
    margin-left: 400px;
}   
.column {
    width: 400px;
    height: 4500px;
}
.last-item{
    background-image:url('Flower Asset/Rectangle 9.png');
}